
/**
 * Some quick snippets: https://atomiks.github.io/30-seconds-of-css
 */

/**
 * Global styles.
 */

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * App.
 */

.App {
  text-align: center;
}

/**
 * Todo.
 */

.Todo {
  list-style: none;
  text-align: left;
  cursor: pointer;
  padding: 1rem;
  border-radius: 4px;
  margin-top: 0.5rem;
}

.Todo:last-child {
  margin-bottom: 0.5rem;
}

.Todo:hover {
  background-color: #eee;
}

/**
 * TodoList.
 */

.TodoList {
  padding: 0;
  margin: auto;
  width: 400px;
}

/**
 * AddTodo.
 */

.AddTodo {
  width: 400px;
  margin: auto;
  display: flex;
}

.AddTodo input {
  padding: 1rem;
  font-size: 1rem;
  flex-grow: 1;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: solid 1px #ccc;
}

.AddTodo button {
  margin-left: 0.25rem;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: solid 1px #ccc;
  font-size: 0.6rem;
  text-transform: uppercase;
  color: #ccc;
  cursor: pointer;
  padding: 1rem;
  transition: color 0.15s, border-color 0.15s;
}

.AddTodo button:hover {
  background-color: #7289da;
  color: white;
  border-color: #7289da;
}

/**
 * ActiveLink.
 */

.ActiveLink {
  text-transform: uppercase;
  font-size: 0.8rem;
  background-color: #7289da;
  color: white;
  padding: 0.3rem;
  border-radius: 2px;
}

/**
 * InactiveLink.
 */

.InactiveLink {
  text-transform: uppercase;
  font-size: 0.8rem;
  padding: 0.3rem;
  background-color: #ccc;
  color: white;
  text-decoration: none;
}

/**
 * FilterBar.
 */

.FilterBar {
  padding-bottom: 1rem;
}
